@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  --font-poppins: "Poppins", sans-serif;
}
.font-poppins {
  font-family: var(--font-poppins);
}
p {
  @apply text-sm;
  letter-spacing: 0px;
  font-weight: 400;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer utilities {
  .section-spacing {
    @apply py-[50px] md:py-[70px] lg:py-[120px];
  }
  .left-spacing {
    @apply pl-[15px] lg:pl-[calc((100%-930px)/2)] xl:pl-[calc((100%-1110px)/2)] xxl:pl-[calc((100%-1390px)/2)] xxxl:pl-[calc((100%-1620px)/2)] ;
  }
}
.frscfes > div:nth-child(1), .frscfes > div:nth-child(3), .frscfes > div:nth-child(5) {
  @apply xxl:pl-[50px]
}
p {
  @apply text-sm
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(24,53,95,0.1);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #18355f;

	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


.overlaybanner::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 71.42%);

}
.sepses{border-left: 1px solid #f6f6f6;}
.hrgr{ transition: background 0.5s ease;  background: #fff;
  }
.hrgr:hover{background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);}
.tabmns p{padding: 13px 0px;}
.tabmns div p{
  @apply text-sm;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 0px;
}
.tabmns div p:hover{
  font-weight: 700;
  border-top: 3px solid #5BA646;
  position: relative;
  z-index: 1;
  top: -2px;
}
figure.roverlay::after {
  content: "";
  background: linear-gradient(90deg, #092348 0%, rgba(24, 53, 95, 0.8) 39.22%, rgba(24, 53, 95, 0) 85%);
  border-radius: 15px;
  position: absolute;
  top: 0;
  inset: 0;
}
figure.rtroverlay::after {
  content: "";
  background: linear-gradient(90deg, #fefefe00 0%, rgb(24 53 95 / 54%) 39.22%, #18355f 85%);
  position: absolute;
  top: 0;
  inset: 0;
}

.overlayclr::after {
  content: "";
  background: linear-gradient(180deg, rgba(29, 37, 45, 0) 43.29%, rgba(29, 37, 45, 0.56758) 60.3%, #1D252D 91.49%);
border-radius: 15px;
  position: absolute;
  top: 0;
  inset: 0;
}
.blueover::after {
  background: linear-gradient(178deg, rgba(0, 0, 0, 0.225) 46.8%, rgba(24, 53, 95, 0.9) 79.17%);
  content: '';
  border-radius: 15px;
  position: absolute;
  inset: 0;
  height: 100%;
}
.blueoverlayrt::after {
  background: linear-gradient(270deg, #092348 0%, rgba(24, 53, 95, 0.8) 39.22%, rgba(24, 53, 95, 0) 85%);

  content: '';
  border-radius: 15px;
  position: absolute;
  inset: 0;
  height: 100%;
}
.blueoverlay:after {
  background: linear-gradient(90deg, #092348 0%, rgba(24, 53, 95, 0.8) 43.67%, rgba(24, 53, 95, 0) 100%); content: '';
  border-radius: 15px;
  position: absolute;
  inset: 0;
  height: 100%;
}

@media (min-width: 1200px) {
.itemsmn:nth-last-child(1) .locks,
.itemsmn:nth-last-child(2) .locks,
.itemsmn:nth-last-child(3) .locks{
  display: none;
}
}
.mbp10 p{margin-bottom: 15px;}
.overlbl::after{
  background: #00000020;
  content: '';
  border-radius: 15px;
  position: absolute;
  inset: 0;
  height: 100%;}
  .abtstl .splide__slide.is-active {border: none !important;}
  .abtstl .splide__slide.is-active p{color: #ffffff;}

  .abtstl .splide__slide.is-active::after {content: '';position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    background: #5BA646;
    border-radius: 100%;
    left: 18%;}
.overimg::after{
  content: url('/assets/img/engineering/afterimg.png');
  position: absolute;
    right: 0;
    bottom: 0;

}
.growslide.swiper-slide-active .border-l{border-left: none !important;}
.ptst0 .pts{padding-top: 0px !important;}
.gbgs {background: linear-gradient(0deg, rgba(24, 53, 95, 0.5) 51.8%, #18355F 119.3%);
}
.custw .cpt0{padding-top: 0px;}
.hoveroverl::after{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(91.58deg, #092348 -44.67%, rgba(24, 53, 95, 0.8) 17.28%, rgba(24, 53, 95, 0) 113.3%);

}
.hrcontent{ position: absolute;
  bottom: 0;
  width: 100%;
z-index: 1;}
.hhhhhhhh:hover{fill: red;}
.gccnone{display: none;}
.gccbtn:hover .gccnone{display: block;}
.gpasia{cursor: ponter;}
.lineone{display: none;}

.gpasia:hover .lineone{display:block;}

.hover-content {
  display: none;
}

/* Show only the matching content on hover */
.wrapper[data-type="sec1"]:hover .sec1-content {
  display: block;
}

.wrapper[data-type="sec2"]:hover .sec2-content {
  display: block;
}
.dddd:hover::after{content: '';
position: absolute;
top: 0;
width: 100%;
height: 100%;background: linear-gradient(205.71deg, rgba(0, 0, 0, 0) 0%, #5BA646 76.96%);
}

.custom-grid:hover .bgd{background: linear-gradient(108.13deg, #FFFFFF 13.93%, #7C7C7C 118.34%);
}

.custom-grid:nth-child(1),
.custom-grid:nth-child(2),
.custom-grid:nth-child(3) {
  @apply border-b border-[#ffffff60];
}

.custom-grid:nth-child(2),
.custom-grid:nth-child(5) {
  @apply border-l border-r border-[#ffffff60];
}

.custom-grid > div:nth-last-child(-n+3) {
  @apply border-b-0;
}


@media (max-width: 1199px) {

  .custom-grid:nth-child(1),
.custom-grid:nth-child(2),
.custom-grid:nth-child(3),
.custom-grid:nth-child(4) {
  @apply border-b border-[#ffffff60];
}

.custom-grid:nth-child(2),
.custom-grid:nth-child(4),
.custom-grid:nth-child(6) {
  @apply border-l   border-[#ffffff60] border-r-0;
}
.custom-grid:nth-child(5) {
  @apply border-0  ;
}
/* .custom-grid > div:nth-last-child(-n+3) {
  @apply border-b-0;
} */
}

@media (max-width: 767px) {

  .custom-grid {
  @apply border-b border-[#ffffff60];
}

.custom-grid:nth-child(2),
.custom-grid:nth-child(4),
.custom-grid:nth-child(6) {
  @apply border-l-0    border-r-0;
}
.custom-grid:nth-child(5) {
  @apply border-l-0    border-r-0  border-b border-[#ffffff60];
}
/* .custom-grid > div:nth-last-child(-n+3) {
  @apply border-b-0;
} */
}


.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
.insts p{margin-bottom: 15px;}
.insts li{list-style: disc;margin-bottom: 10px; margin-left: 19px; font-size: 19px; color: #1F1F1F;}

.ql-editor p{
  font-family: 'Arial', sans-serif !important;
  font-size: 16px !important;/* Optional for visible area */
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wst57{
    width: 57%;
  }
}

/* Hide the calendar button (icon) */
.react-date-picker__button {
  display: none !important;
}

/* Remove the gray border */
.react-date-picker__wrapper {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 0 !important;
}

/* Style the input group cleanly */
.react-date-picker__inputGroup {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: transparent !important;
}

/* Remove spin buttons and input border */
.react-date-picker__inputGroup__input {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
  font-size: 14px !important;
  color: #000 !important;
  outline: none !important;
  appearance: textfield !important;
}



